---
layout: default
---
<div>

  <div class="form-horizontal search-form">
    <div class="form-group">
      <!-- <label class="col-md-2" for="filterSearch">Búsqueda</label> -->
      <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search fa-lg"></i></div>
          <input type="text" name="filterSearch" class="form-control" ng-model="filterSearch" placeholder="Búsqueda">
          <!-- <select name="filterType" id="filterType">
            <option value="radio">Radio</option>
            <option value="radio-online">Radio-Online</option>
            <option value="impreso">Impreso</option>
            <option value="impreso-online">Radio-Online</option>
            <option value="tv">TV</option>
            <option value="tv-online">TV-Online</option>
            <option value="online">Online</option>
          </select> -->
        </div>
      </div>
    </div>
  </div>

  <section id="news" ng-controller="newsController">
    <div class="row" ng-repeat="news in allnews | orderBy:'-unixtime' | chunkBy: 3">
      <div class="col-md-4" ng-repeat="n in news | filter:filterSearch">
        <div class="article-news">
          <img class="img-responsive" src="[[n.imagen]]" ng-if="n.imagen">
          <div class="article-text" ng-class="n.color">
            <h3><a href="[[n.link]]" target="_blank">[[n.titular]]</a></h3>
            <ul class="list-inline">
              <li>[[n.format_date]]</li>
              <li><i ng-class="n.icon_class"></i></li>
            </ul>
            <h4>[[n.bajada]]</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
