body {
	color: $text-color;
	background-color: $blue;

	header {
		background-color: #060626;
		padding: 10px 0px;
		h1 {
			color: $text-color-header;
		}
	}

  .search-form {
    margin-top: 15px;
  }

  #news {
    padding-top: 15px;

		.article-news {
			padding: 0px;
			margin-bottom: 10px;
			background-color: #FFF;
			.img-responsive{
				width:100%;
			}

		}

		.article-text {
			padding: 10px 15px 15px 15px;
			margin-bottom: 10px;
			background-color: #FFF;
		}
	}

	footer {
		padding-top: 10px;
		background-color: $blue-dark;
	}
}