body {
	color: $text-color;
	background-color: #A3D7DD;

	header {
		background-color: #060626;
		padding: 10px 0px;
		h1 {
			color: $text-color-header;
		}
	}

	#news {
		padding-top: 15px;

		.tab-pane {
			padding-top: 5px;
		}

		.select {
			padding: 10px 0px;
		}

		.article-news {
			border: 1px solid #CCC;
			border-radius: 5px;
			padding: 5px 10px;
			margin-bottom: 10px;
			background-color: #FFF;
		}
	}

	footer {
		padding-top: 10px;
		background-color: #060626;
	}
}